@use "../../general_styles/styles" as styles;

.projects {
    @include styles.centerFlex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    padding: 20px 10px;

    .projects-container {
        max-width: 1200px;

        h2 {
            font-size: 3rem;
            align-self: flex-start;
        }

        .border {
            width: 0;
            margin: 20px 0;
            background: styles.$gradient;
            height: 2px;

            &.start {
                animation: borderGrow 1s forwards;
            }
        }

        .projects-list {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

            .project-info {
                background: styles.$gradient;
                border-radius: 15px;
                padding: 2px;

                .info-container {
                    background-color: rgb(34, 34, 34);
                    border-radius: 15px;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                    }

                    .info {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 10px 20px;

                        span {
                            font-size: 2rem;
                        }

                        p {
                            height: 150px;
                            overflow-y: scroll;
                            font-size: 1.5rem;

                            &::-webkit-scrollbar {
                                background: transparent;
                                width: 3px;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: rgb(174, 174, 174);
                            }
                        }

                        a {
                            font-size: 1.5rem;
                            transition-duration: 350ms;
                            background-color: rgb(0, 68, 152);
                            width: fit-content;
                            padding: 5px 10px;
                            border-radius: 5px;
                            border: 1px solid white;

                            &:hover {
                                background-color: rgb(67, 141, 231);
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes borderGrow {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}