@use "../../general_styles/styles" as styles;

.projects {
  @include styles.centerFlex;
  width: 100vw;
  height: 70vh;
  padding: 20px;

  .projects-container {
    max-width: 1000px;
    width: 100%;

    .projects-header {
      @include styles.headerStyles;

      h2 {
        @include styles.styledText;
      }
    }

    .cards-container {
        @include styles.centerFlex;
      width: 100%;
      flex-direction: column;
      gap: 20px;

      .card {
        @include styles.centerFlex;
        width: 100%;
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        .arrow {
          @include styles.centerFlex;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          position: absolute;
          z-index: 99;
          font-size: 3rem;
          cursor: pointer;

          &.left {
            left: 0;
          }

          &.right {
            right: 0;
            rotate: 180deg;
          }
        }

        img {
          width: 100%;
          height: auto;
        }

        .project-info {
          @include styles.centerFlex;
          position: absolute;
          flex-direction: column;
          text-align: center;
          width: 70%;
          height: 100%;
          padding: 0 30px;
          background: rgb(0, 0, 0);
          font-size: 3vmin;

          @media screen and (min-width: 700px) {
            font-size: 2rem;
          }

          p {
            height: 70%;
            overflow: auto;
          }
        }
      }

      button {
        @include styles.styledButton;

        @media screen and (min-width: 750px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
