@use "../../../general_styles/styles" as styles;



.about-credits {
    @include styles.centerFlex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    gap: 30px;

    .back-arrow {
        @include styles.back;
    }


    h2,
    p {
        font-family: "VT323", monospace;
        text-shadow: rgb(218, 218, 218) 1px 0 10px;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

    .rick {
        position: absolute;
        bottom: -1000px;
        animation: slideUp 7s forwards;
        right: 0;
        z-index: -1;
        animation-delay: 2s;
    }

    .credits {
        width: 90%;
        max-width: 500px;
        height: 250px;
        overflow-y: hidden;
        position: relative;

        p {
            position: absolute;
            text-align: center;
            bottom: -1000px;
            animation: creditSlide 10s forwards;
        }
    }

}

@keyframes slideUp {
    from {
        bottom: -1000px;
    }

    to {
        bottom: -100px;
    }
}

@keyframes creditSlide {
    from {
        bottom: -1000px;
    }

    to {
        bottom: 100px;
    }
}