@use "../../general_styles/styles" as styles;

.welcome {
  @include styles.centerFlex;
  width: 100vw;
  height: calc(100vh - 52.5px);
  background-color: transparent;
  min-width: styles.$min-width;
  min-height: styles.$min-height;
  top: 52.5px;

  .welcome-container {
    @include styles.centerFlex;
    flex-direction: column;
    margin: 100px 0 auto;
    font-size: 2rem;

    .main-text {
      width: fit-content;

      h1 {
        @include styles.styledText;
        font-size: 3rem;
        width: 0;
        white-space: nowrap;
        border-right: 1px solid transparent;
        animation: type 1.5s steps(30, end) forwards, blinkingTitle 1.5s forwards;
      }
    }

    p {
      font-family: "Cedarville Cursive", cursive;
      font-size: 2.5rem;
      white-space: nowrap;
    }

    .sm-icons {
      display: flex;
      gap: 10px;
      color: white;

      .icon {
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
    }

    .arrow {
      opacity: 0;
      rotate: 90deg;
      font-size: 5rem;
      animation: slideDown 0.5s forwards;
      animation-delay: 1.5s;

      &:hover {
        fill: rgb(206, 41, 206);
      }
    }
  }

  img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 400px;
    opacity: 0.7;
    z-index: -1;

    @media screen and (min-width: 1000px){
        max-width: 450px;
    }
  }

  @keyframes type {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blinkingTitle {
    0% {
      border-right-color: transparent;
    }

    25% {
      border-right-color: styles.$main-pink;
    }

    50% {
      border-right-color: transparent;
    }

    75% {
      border-right-color: styles.$main-blue;
    }
    100% {
      border-right-color: transparent;
    }
  }

  @keyframes slideDown {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.1);
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
      cursor: pointer;
    }
  }
}

@media screen and (min-height: 668px) {
  .welcome {
    .welcome-container {
      margin-top: 120px;
      .arrow {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (min-width: 1250px) {
  .welcome {

    .welcome-container {
        margin: auto 0;
    }

    img {
        width: 40%;
        max-width: 1000px;
    }
  }
}
