@use "../../general_styles/styles" as styles;

.about {
    @include styles.centerFlex;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: #00055B;
    position: relative;
    padding: 15vh 10vw;

    &.light-sea {
        background-image: url("/assets/bg-light.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .flashlight {
        min-width: 100px;
        width: 20vw;
        max-width: 150px;
        height: auto;
        position: absolute;
        top: 1.5vh;
        right: 10vw;
        rotate: 190deg;
        animation: flashlightDrop 1.5s forwards;
        z-index: 21;
        opacity: 0.6;

        &.float {
            rotate: 150deg;
            animation: float 5s infinite;
            opacity: 1;
        }
    }

    .about-content {
        max-width: styles.$max-width;
        opacity: 0;
        transform: scale(0.3);

        &.show-content {
            animation: show 500ms forwards;
        }

        h2 {
            font-size: 2rem;
            @include styles.headerFont;
            margin-bottom: 30px;
            color: rgb(175, 175, 175);
            opacity: 0.6;

            &.light-on {
                text-shadow: rgb(220, 220, 220) 1px 0 7px;
                color: white;
                opacity: 1;
            }
        }

        .about-info {
            @include styles.centerFlex;
            flex-direction: column;
            gap: 30px;

            p {
                opacity: 0.6;
                font-size: 1.5rem;
                color: rgb(175, 175, 175);

                &.light-on {
                    text-shadow: rgb(220, 220, 220) 1px 0 10px;
                    color: white;
                    opacity: 1;
                }
            }

            .skills-container {
                width: 100%;

                h3 {
                    @include styles.headerFont;
                    font-size: 1.5rem;
                    color: rgb(175, 175, 175);
                    opacity: 0.6;
                    margin-bottom: 20px;

                    &.light-on {
                        text-shadow: rgb(220, 220, 220) 1px 0 7px;
                        color: white;
                        opacity: 1;
                    }
                }

                .skills {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 1.5rem;
                    opacity: 0.6;
                    color: rgb(175, 175, 175);
                    overflow-y: scroll;
                    height: 300px;
                    border-radius: 10px;
                    border: 2px solid white;
                    padding: 10px 15px;

                    &::-webkit-scrollbar {
                        background-color: transparent;
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: white;
                        border-radius: 100px;
                    }

                    &.light-on {
                        text-shadow: rgb(220, 220, 220) 1px 0 7px;
                        color: white;
                        opacity: 1;
                        -webkit-box-shadow: 0px 0px 23px -3px rgba(220, 220, 220, 1);
                        -moz-box-shadow: 0px 0px 23px -3px rgba(220, 220, 220, 1);
                        box-shadow: 0px 0px 23px -3px rgba(220, 220, 220, 1);
                    }

                    .skill {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        width: 100%;


                        img {
                            width: 40px;
                            height: auto;
                        }

                        span {
                            font-size: 1.5rem;
                            font-weight: 800;
                        }
                    }
                }
            }
        }
    }

}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes flashlightDrop {
    from {
        top: -50vh;
        rotate: 190deg;
    }

    to {
        top: 1.5vh;
        rotate: 150deg;
    }
}

@keyframes float {
    0% {
        top: 1.5vh;
    }

    50% {
        top: 2.5vh;
    }

    100% {
        top: 1.5vh;
    }
}