@use "../../general_styles/styles" as styles;

.about {
  @include styles.centerFlex;
  @include styles.sectionStyles;

  .about-header {
    @include styles.headerStyles;

    h2 {
      @include styles.styledText;
    }
  }

  .about-container {
    @include styles.centerFlex;
    flex-direction: column;
    width: 100%;
    gap: 40px;

    .terminal-container {
      flex: 1;
      height: 150px;
    }

    .education {
      flex: 1;
      @include styles.centerFlex;
      flex-direction: column;

      .education-header {
        margin-bottom: 20px;
        width: 100%;

        h3 {
          @include styles.styledText;
          font-size: 2.5rem;
          border-right: 1px solid transparent;
          margin-bottom: -10px;
        }

        .line {
          height: 2px;
          background: styles.$gradient;
        }
      }

      ul {
        @include styles.centerFlex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        gap: 30px;

        li {
          @include styles.centerFlex;
          width: 100%;
          padding: 5px 50px;
          transform: skew(20deg);
          background-color: white;
          border-radius: 5px;
          box-shadow: -5px 8px 22px 0px rgba(209,209,209,1);
          max-width: 450px;

          img {
            border-radius: 5px;
            width: 50%;
            height: auto;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .about {
    .about-container {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}
