@use "../../general_styles/styles" as styles;

.contact {
  @include styles.centerFlex;
  @include styles.sectionStyles;
  position: relative;

    .contact-header {
      @include styles.headerStyles;

      h2 {
        @include styles.styledText;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 2rem;
      width: 100%;
      align-self: flex-start;

      .form-section {
        display: flex;
        align-items: flex-start;
        gap: 10px;
      }

      input,
      textarea {
        color: black;
        outline: none;
        border-radius: 5px;
        width: 100%;
        max-width: 500px;
        padding: 5px;
      }

      textarea {
        resize: none;
        height: 100px;
      }

      button {
        @include styles.styledButton;
        width: 150px;
      }
    }

    .sentMessage {
      @include styles.centerFlex;
      gap: 50px;
      border-radius: 5px;
      width: fit-content;
      padding: 10px 20px;
      white-space: nowrap;
      font-size: 1.7rem;
      background: black;
      position: absolute;
      right: -100%;
      border: 1px solid styles.$main-blue;
      z-index: 90;
      animation: sentSlide 0.5s forwards;
      
      @keyframes sentSlide {
        100% {
          right: 0;
        }
      }

      button {
        @include styles.styledButton;
      }
    }
}
