@use "../../general_styles/styles" as styles;

.nav-container {
    width: 100vw;
    @include styles.centerFlex;
    position: fixed;
    top: 0;
    z-index: 900;
    background-image: linear-gradient(to bottom, black 70%, transparent 100%);

    nav {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 50px;
        padding: 5px 10px;
        justify-content: space-between;
        max-width: 1000px;

        h1 {
            font-family: "Playwrite AT", cursive;
            font-optical-sizing: auto;
            font-weight: bold;
            font-style: normal;
            font-size: 16px;
            background-image: styles.$gradient;
            background-clip: text;
            color: transparent;
        }

        img {
            width: 40px;
            height: 40px;
            cursor: pointer;

            @media screen and (min-width: styles.$md) {
                display: none;
            }
        }

        a {
            &:hover {
                color: rgb(1, 255, 255);
                text-shadow: rgb(0, 229, 255) 2px 0 10px;
            }
        }

        .menu-open {
            animation: openMenu 500ms forwards;
        }

        .menu-close {
            animation: closeMenu 500ms forwards;
        }

        .desktop-links {
            display: none;
            gap: 40px;
            margin-right: 20px;

            @media screen and (min-width: styles.$md) {
                display: flex;
            }
        }

        .sidebar {
            position: absolute;
            right: 0;
            gap: 40px;
            display: flex;
            flex-direction: column;
            padding: 30px 20px 0;
            top: 35px;
            height: calc(100vh - 35px);
            background-color: black;
            width: 50%;
            max-width: 400px;
            font-size: 1.8rem;
            animation: menuSlide 200ms forwards;

            @media screen and (min-width: styles.$md) {
                display: none;
            }

            a {
                text-align: end;
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 2px solid gray;
            }
        }
    }

    @keyframes openMenu {
        from {
            rotate: (0deg);
        }

        to {
            rotate: (180deg);
        }
    }

    @keyframes closeMenu {
        from {
            rotate: (180deg);
        }

        to {
            rotate: (0deg);
        }
    }

    @keyframes menuSlide {
        from {
            right: -55%;
        }

        to {
            right: 0;
        }
    }
}