@use "../../../general_styles/styles" as styles;

.about-home {
    @include styles.centerFlex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 10%;

    @media screen and (min-width: styles.$md) {
        flex-direction: row;
    }


    .learn-more {
        @include styles.centerFlex;
        flex-direction: column;
        gap: 30px;
        position: relative;

        span {
            font-size: 3rem;
            font-family: "VT323", monospace;
            text-shadow: rgb(218, 218, 218) 1px 0 10px;
        }

        .learn {
            border: 2px solid white;
            border-radius: 15px;
            padding: 2px 20px;
            cursor: pointer;
            z-index: 5;
        }

        img {
            width: 50px;
            height: auto;
            position: absolute;
            top: 30px;

            &.left {
                left: -20px;
                rotate: 30deg;
                animation: leftArrow 1s infinite;
            }

            &.right {
                right: -20px;
                rotate: -210deg;
                animation: rightArrow 1s infinite;
            }
        }
    }

    .image-container {
        @include styles.centerFlex;
        position: relative;
        z-index: 1;

        span {
            position: absolute;
            right: 25px;
            top: -18px;
            font-weight: bold;
            font-size: 3rem;
            rotate: 10deg;
            color: black;
            animation: colorBlink 1s infinite steps(30, end);
        }

        .dog-image {
            width: 70%;
            max-width: 300px;
            border-radius: 50%;
        }

        .new-bg {
            width: 125px;
            height: auto;
            position: absolute;
            right: -10px;
            top: -40px;
        }
    }
}

@keyframes colorBlink {
    0% {
        color: black;
    }

    50% {
        color: red;
    }

    100% {
        color: black;
    }
}

@keyframes leftArrow {
    0% {
        left: -20px;
    }

    50% {
        left: -30px;
    }

    100% {
        left: -20px;
    }
}

@keyframes rightArrow {
    0% {
        right: -20px;
    }

    50% {
        right: -30px;
    }

    100% {
        right: -20px;
    }
}