$gradient: linear-gradient(60deg,
    rgba(255, 0, 211, 1) 0%,
    rgba(201, 105, 233, 1) 49%,
    rgba(0, 215, 255, 1) 100%);

$header-gradient: linear-gradient(#ff00d3 0%,
    rgba(201, 105, 233, 1) 49%,
    #00d7ff 100%);

$main-blue: rgba(0, 215, 255, 1);

$max-width: 1200px;

// style groups using mixins

@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin headerFont {
  font-family: "Rock Salt", cursive;
  font-style: normal;
}

// responsive breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$double-xl: 1536px;